<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_project11">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mad_project11">
        <activity
            android:name=".review_success"
            android:exported="false" />
        <activity
            android:name=".Write_review"
            android:exported="true" />
        <activity
            android:name=".Payment_Details"
            android:exported="false" />
        <activity
            android:name=".DrawerBase"
            android:exported="false" />
        <activity
            android:name=".Others"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/bottomnav" />

        <activity
            android:name=".Notice1"
            android:exported="false" />
        <activity
            android:name=".Notice"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".ServiceM"
            android:exported="false" />
        <activity
            android:name=".ServiceM3"
            android:exported="false" />
        <activity
            android:name=".ServiceM2"
            android:exported="false" />
        <activity
            android:name=".Success_Pay"
            android:exported="false" />
        <activity
            android:name=".Confirm_payment"
            android:exported="false" />
        <activity
            android:name=".Enter_Pay_Details"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>